/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: rgb(255, 255, 255);
    background: #9f9b9b;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

h1 {
    padding: 25px;
    margin: 10px;
    color: white
}

h3 {
    margin-left: 35px;
    color: white;
    font-size: 16px
}

hr {
    height: 2px;
    background-color: white
}

.card {
    color: #9f9b9b;
    font-size: 14px;
    margin-left: 40px;
    margin-top: top;
    border-color: #9f9b9b;
    vertical-align: text-top
}

.second_card {
    margin-top: -140px;
    margin-left: 40px
}

.card-img-top {
    width: 90%;
    height: auto;
}

.card-title {
    font-size: 18px
}

.top_row {
    position: sticky;
    top: 0;
    background-color: #353A3F;
}

.navbar-expand-lg navbar-light bg-light nav-color navbar nav {
    position: sticky;
    top: 0;
}